body {
    background-image: url('/www/images/gif/spring.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

body.bg1class {
    background-image: url('/www/images/gif/spring.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

body.bg2class {
    background-image: url('/www/images/gif/summer.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

body.bg3class {
    background-image: url('/www/images/gif/autumn.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

body.bg4class {
    background-image: url('/www/images/gif/winter.gif');
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}

.button_container {
    display: flex;
    justify-content: center;
    height: 10%;
    margin-top: 61px;
}

.btn_style {
    padding: 10px;
    margin-right: 5px;
    font-size: larger;
}